/MemSpy/.vs/MemSpy/v16/.suo
/MemSpy/.vs/MemSpy/v16/Browse.VC.db
/MemSpy/.vs/MemSpy/v16/TestStore/0/000-0000.testlog
/MemSpy/.vs/MemSpy/v16/TestStore/0/testlog.manifest
/MemSpy/.vs/MemSpy/v16/ipch/AutoPCH/1b9a6814fe869ac3/MEMSPY.ipch
/MemSpy/.vs/MemSpy/v16/ipch/AutoPCH/5930fb919a44ccd1/PROCESS.ipch
/MemSpy/.vs/MemSpy/v16/ipch/AutoPCH/638ca1cdfe2032c0/MEMSPY.ipch
/MemSpy/.vs/MemSpy/v16/ipch/AutoPCH/c4ddf9fb7e75d260/APP.ipch
/MemSpy/.vs/MemSpy/v16/ipch/AutoPCH/c841f214bdc3d52b/APP.ipch
/MemSpy/.vs/MemSpy/v16/ipch/AutoPCH/ed42627769e91678/APPLICATION.ipch
/MemSpy/.vs/MemSpy/v16/ipch/AutoPCH/38f56ab83065a33/COMMANDLINE.ipch
/MemSpy/MemSpy/MemSpy.vcxproj.user
/MemSpy/MemSpy/x64/Debug/Application.obj
/MemSpy/MemSpy/x64/Debug/CommandLine.obj
/MemSpy/MemSpy/x64/Debug/MemSpy.Build.CppClean.log
/MemSpy/MemSpy/x64/Debug/MemSpy.log
/MemSpy/MemSpy/x64/Debug/MemSpy.obj
/MemSpy/MemSpy/x64/Debug/MemSpy.tlog/CL.command.1.tlog
/MemSpy/MemSpy/x64/Debug/MemSpy.tlog/CL.read.1.tlog
/MemSpy/MemSpy/x64/Debug/MemSpy.tlog/CL.write.1.tlog
/MemSpy/MemSpy/x64/Debug/MemSpy.tlog/MemSpy.lastbuildstate
/MemSpy/MemSpy/x64/Debug/MemSpy.tlog/link.command.1.tlog
/MemSpy/MemSpy/x64/Debug/MemSpy.tlog/link.read.1.tlog
/MemSpy/MemSpy/x64/Debug/MemSpy.tlog/link.write.1.tlog
/MemSpy/MemSpy/x64/Debug/MemSpy.vcxproj.FileListAbsolute.txt
/MemSpy/MemSpy/x64/Debug/Process.obj
/MemSpy/MemSpy/x64/Debug/vc142.idb
/MemSpy/MemSpy/x64/Debug/vc142.pdb
/MemSpy/x64/Debug/MemSpy.exe
/MemSpy/x64/Debug/MemSpy.ilk
/MemSpy/x64/Debug/MemSpy.pdb
